<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="table-Container">
        <div class="title">List Users</div>

        <table>
            <tr>
                <th>ID</th>
                <th>EMAIL</th>
                <th>NAME</th>
                <th>CITY</th>
                <th>Action</th>
            </tr>

            <!-- <% for (let i = 0; i < listUsers.length; i++) { %> 
                <tr>
                    <td><%=listUsers[i].id %></td>
                    <td><%=listUsers[i].email %></td>
                    <td><%=listUsers[i].name %></td>
                    <td><%=listUsers[i].city %></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <% } %> -->

            <% listUsers.forEach(function(item, index) { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.email %>
                    </td>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.city %>
                    </td>
                    <td>
                        <a href="/update/<%= item.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>
                <% }); %>

        </table>
    </div>
</body>

</html>